<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Emoty</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> 
    <link href="https://fonts.googleapis.com/css?family=Lato|Monoton" rel="stylesheet"><!-- load fontawesome -->
	<style>
		body{ padding-top:230px; background-color:rgba(202,235,242,1);}
        html{ background-color:rgba(202,235,242,1);}
        #v{color:rgba(255,56,63,1);font-size: 350%;}
        #i{color:rgba(239,239,239,1);font-size: 350%;}
        #t{color:rgba(255,56,63,1);font-size: 350%;}
        #a{color:#A9A9A9;font-size: 350%;}
        .jumbotron{background-color:rgba(202,235,242,1);}
        h1{letter-spacing: 20px;
text-shadow: 0px 4px 3px rgba(50,50,50,0.7),
             0px 8px 13px rgba(50,50,50,0.4),
             0px 18px 23px rgba(50,50,50,0.4);
     
        font-family: "Monoton",cursive;}
        pre{color:#a9a9a9;font-size: 150%; background-color:rgba(202,235,242,1);border:none;padding:1px;}
        .btn-custom{ background-color: rgba(255,56,63,1); !important;
                     color:rgba(200,200,200,1);border-radius: 3px;}
        br{padding:5px;}
	</style>
</head>
<body>
<div class="jumpbotron container ">

	<div class="text-center">
        <h1 ><span id="v">E</span><span id="i">M</span><span id="t">O</span><span id="t">T</span><span id="a">Y</span></h1>

		<pre>Express your emotion</pre>
        <pre>            with a rainbow...</pre>
        <pre>              </pre>
        <br><a href="/login" class="btn btn-custom" ><i class="fa fa-magic left"></i> Login</a>
        <a href="/signup" class="btn btn-custom">Signup<i class="fa fa-magic left"></i></a></br>
	</div>

</div>
</body>
</html>