<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{  background-color:rgba(202,235,242,1);padding-top:80px; }
        html{ background-color:rgba(202,235,242,1);}
        .log{color:rgba(202,235,242,1);font-size:70%;padding:0px;
            letter-spacing: .2em;
        text-shadow: -1px -1px 1px #1d95af, 
      2px 2px 1px#f7fcfd;
      }
        .jumbotron{ background-color:rgba(233,248,251,1); }
        .jumbotron h1{padding:0px; }
        label{color:#a9a9a9;}
        .btn-custom{ background-color: rgba(255,56,63,1); !important;
                     color:rgba(200,200,200,1);border-radius: 3px;}
        p{color:#999999}
        a{color:rgba(255,56,63,1);}
	</style>
</head>
<body>
<div class="container">

<div class="jumbotron col-sm-6 col-sm-offset-3">

    <h1><span class="log"> Login</span></h1>

	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/login" method="post">
		<div class="form-group">
			<label>Email</label>
			<input type="text" class="form-control" name="email">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password">
		</div>

		<button type="submit" class="btn btn-custom btn-lg">Login</button>
	</form>

	<hr>

	<p>Need an account? <a href="/signup">Signup</a></p>
	<p>Or go <a href="/">home</a>.</p>

</div>

</div>
</body>
</html>
